
# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*
config.xml
package.json
package-lock.json
plastic-mobile-key.jks
plastic.mobile.apk
.sourcemaps/
.vscode/
.idea/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
e2e/
tmp/
temp/
hooks/
platforms/
public/
resources/
typings/
plugins/
plugins/android.json
plugins/ios.json
angular-cli.json
src/config/firebase.config.ts
src/config/googlecloud.api.ts
www/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate