chatwithus-form {

  .chatcontrol {
    float: left;
    width: 80%;

    .chatinput {
      width: 70%;
      float: left;
      border-radius: 0;
      color: #000
    }

    .sendbtn {
      width: 15%;
      float: left;

    }
  }
}